

h1{
font-size: 72px;
color: orange;
  margin: 7px;
  padding: 7px;
  height: fit-content;
  width: fit-content;
}
mainImg{
  margin: 10px;
  height: fit-content;
  width: fit-content;
}

.desc{
  padding: 10px;
  margin: 10px 10px;
  background-color: silver;
  height: fit-content;
  width: fit-content;
}

@media all and (max-width: 700px){
  .desc {
    font-size:  40px;
    background-color: olive;
  }
}
#topmost{
  background-color: rgb(0, 119, 255);
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.main{
  margin: 0;
}

