h1{
font-size: 72px;
color: orange;
  margin: 20px;
  padding: 20px;
}
mainImg{
  padding: 7px;
  margin: 10px;
}

.desc{
  padding: 10px;
  margin: 10px;
  background-color: silver;
}

.main{
  display: flexbox;
}
