h1{
font-size: 72px;
color: orange;
  margin: 20px;
  padding: 20px;
}
mainImg{
  padding: 7px;
  margin-right: 10px;
  float: left;
}

.desc{
  padding: 10px;
  margin: 10px;
  background-color: silver;
  height: auto;
  float: right;
}

.main{
  display: flex;
}
